*{
    margin: 0%;
    padding: 0%;
    border: 0px;
}
body{
    background-color: rgb(13, 255, 0);
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 115, 0);
    font-size: 100px;
    font-weight: 100;
}
.child
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgb(255, 255, 255);
    height: 150px;

}
.bttn{
    font-size: 75px;
    background-color: violet;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}